In [2]:
import pandas as pd

In [3]:
names = '  Name1 Surname1, Name2 Surname2'
names_new = names.split(sep=',')
print(names_new)

['  Name1 Surname1', ' Name2 Surname2']

In [4]:
a = lambda x: x>20
a(30)

True

In [22]:
data = pd.DataFrame({'column1':[1, 2, 3], 'column2':[3, 4, 5], 'column3':[6, 7, 8]})
data1 = pd.DataFrame({'column1':[1, 2, 4], 'column4':[3, 4, 5], 'column5':[6, 7, 8]})
data.merge(data1, on = 'column1', how = 'inner')

   column1  column2  column3  column4  column5
0        1        3        6        3        6
1        2        4        7        4        7

In [51]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/359209/companies.csv', sep=';')
unique_companies = df.groupby('company')['income'].nunique().reset_index(name='unique_companies')
df.groupby('company').agg({'income':'mean'})

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]

In [53]:
def read_n_agg(path):
    df = pd.read_csv(path, sep=';')
    return df.groupby('company').agg({'income':'mean'})
read_n_agg('https://stepik.org/media/attachments/lesson/359209/companies.csv')

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]