In [1]:
import pandas as pd
import numpy as np

In [8]:
#Подсчитайте количество пропущенных значений в каждом столбце.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.balance' : [500, None, 0, None],
                          'user.age' : [34, None, 18, 43], 'user.group' : ['A', 'B', 'A', 'B']})
df.isna().sum()

user            0
user.balance    2
user.age        1
user.group      0
dtype: int64

In [20]:
#Замените отсутствующие значения в столбцах user.speed и user.bag_weight их соответствующими средними значениями.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.speed' : [40, None, 42, 35],
                          'user.bag_weight' : [8, None, 2, 4]})
df = df.drop(columns = ['user'])
df.fillna(df.mean())

   user.speed  user.bag_weight
0        40.0         8.000000
1        39.0         4.666667
2        42.0         2.000000
3        35.0         4.000000

In [36]:
#Используйте метод apply, чтобы заменить отсутствующие значения в user.speed средним значением столбца
#, а в user.bag_weight — медианой столбца.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.speed' : [40, None, 42, 35],
                          'user.bag_weight' : [8, None, 2, 4]})
df.iloc[:, [False, True, True]].apply(lambda x: x.fillna(x.mean()))
#df.iloc[:, [False, True, True]]

   user.speed  user.bag_weight
0        40.0         8.000000
1        39.0         4.666667
2        42.0         2.000000
3        35.0         4.000000