In [1]:
import pandas as pd
import numpy as np

In [5]:
#Вычтите среднее значение строки из каждого элемента в строке
df = pd.DataFrame([[0.020448, 0.456925, 0.992258], [0.743399, 0.555486, 0.089364], [0.094699, 0.283184, 0.216221]])
print(df.apply(lambda x: x - np.mean(x), axis = 1))

          0         1         2
0 -0.469429 -0.032952  0.502381
1  0.280649  0.092736 -0.373386
2 -0.103336  0.085149  0.018186

In [29]:
#В каком столбце чисел сумма наименьшая? Выведите на экран название этого столбца.
df = pd.DataFrame([[0.020448, 0.056925, 0.992258], [0.743399, 0.055486, 0.089364], 
                   [0.094699, 0.283184, 0.216221]], columns=list('abc'))
ser = df.apply(np.sum, axis = 0)
sorted_ser = ser.sort_values(ascending=True)
print(sorted_ser.index[0])
df

b

          a         b         c
0  0.020448  0.056925  0.992258
1  0.743399  0.055486  0.089364
2  0.094699  0.283184  0.216221

In [42]:
#Как подсчитать, сколько уникальных строк имеет датафрейм (т. е. игнорировать все повторяющиеся строки)?
df = pd.DataFrame([[0.020448, 0.456925, 0.992258], [0.743399, 0.555486, 0.089364], [0.020448, 0.456925, 0.992258],
                   [0.094699, 0.283184, 0.216221]], columns=list('abc'))
print(df.drop_duplicates().shape[0])

3

In [2]:
#Имеется датафрейм состоящий из 10 столбцов чисел с плавающей запятой. Ровно 5 записей в каждой строке являются
#значениями NaN. Для каждой строки датафрейма найдите столбец, содержащий третье значение NaN.
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)
df_modified = df.transpose().isna().cumsum()
d = dict()
for index, row in df_modified.iteritems():   
    for i in row.items():
        if i[1] == 3:
            d[index] = i[0]
            break
print(pd.Series(d))

0    e
1    c
2    d
3    h
4    d
dtype: object

In [3]:
#Датафрейм содержит колонку grps (название некоторой группы) и колонку целочисленных значений vals.  
#Для каждой группы найдите сумму трех наибольших значений.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df_sorted = df.sort_values(by = ['grps', 'vals'], ascending=[True, False])
df_max_3 = df_sorted.groupby(by = 'grps').head(3)
df_new = df_max_3.groupby(by = 'grps', as_index = False).sum()
ser = pd.Series(df_new['vals'])
ser.index = df_new['grps']
print(ser)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [33]:
#Датафрейм df имеет два целочисленных столбца «A» и «B». Значения в «A» находятся в диапазоне 
#от 1 до 100 (включительно).
#Для каждой группы из 10 последовательных целых чисел в столбце А (т. е. (0, 10], (10, 20], ...) вычислите 
#сумму соответствующих значений в столбце B.
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

segmented = pd.cut(df['A'], [i for i in range(0, 101, 10)]).values
df_new = pd.DataFrame({'A' : segmented, 'B' : df['B']})
df_new = df_new.groupby(by = 'A').sum()
df_new.index
ser = pd.Series(df_new['B'])
ser.index = df_new.index
print(ser)

A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int64

In [56]:
#Создайте список индексов столбцов и строк для 3 самых больших значений в предлагаемом датафрейме.
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))

print(df)
d = dict()
for index, row in df.iteritems():   
    for i in row.items():
        d[(index, i[0])] = i[1]
        #print(i, index)
#val1 = max(d.values())
def get_key(d, value):
    for k, v in d.items():
        if v == value:
            return k
#ans1 = get_key(d, val1)
#d[ans1] = 0
val = [0, 0, 0]
ans = []
for i in range(3):
    val[i] = max(d.values())
    ans.append(get_key(d, val[i]))
    d[get_key(d, val[i])] = 0
print(ans)

    0   1   2   3   4   5   6   7
0  38  38  46  46  13  24   3  54
1  18  47   4  42   8  66  50  46
2  62  36  19  19  77  17   7  63
3  28  47  46  65  63  12  16  24
4  14  51  34  56  29  59  92  79
5  58  76  96  45  38  76  58  40
6  10  34  48  40  37  23  41  26
7  55  70  91  27  79  92  20  31
[(2, 5), (5, 7), (6, 4)]