In [1]:
import pandas as pd
import numpy as np

In [17]:
#Для вас подготовлен датафрейм содержащий имена пользователей и их теги. Ваша задача заключается в том
#чтобы вытянуть самый первый тег из списка и сформировать отдельную колонку:
df = pd.DataFrame({'user_name':['Ivan 007', 'Petr 911', 'Nikolay 112'],
                  'user_tags':["['sport', 'law', 'cars']", "['cars', 'law', 'girls']",
                              "['law', 'travels', 'cars']"]})
df['user_tags'][0][2]
string = "['sport', 'grey', 'values']"
print(string.split(',')[0].strip('['))
df['user_main_tag']=df['user_tags'].apply(lambda x: x.split(',')[0].strip('[').strip("'"))
print(df)

'sport'
     user_name                   user_tags user_main_tag
0     Ivan 007    ['sport', 'law', 'cars']         sport
1     Petr 911    ['cars', 'law', 'girls']          cars
2  Nikolay 112  ['law', 'travels', 'cars']           law

In [52]:
#Некоторые значения в столбце FlightNumber отсутствуют. Значения в столбце должны увеличиваться на 10 с 
#каждой строкой, поэтому в пропусках необходимо установить 10055 и 10075. Заполните эти недостающие числа 
#и измените тип столбца с float на int
initial_df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways.)', 
                               '12. Air France', '"Swiss Air"']})
initial_df = initial_df.fillna(0)
initial_df['FlightNumber']=initial_df['FlightNumber'].astype('int64')
initial_df['FlightNumber'] = fill_gapes(initial_df.loc[:, ('FlightNumber')])
def fill_gapes(x):
    for i in range(len(x)):
        if x[i] != 0:
            existing = i
    for i in range(existing, 0, -1):
        x[i-1] = x[i] - 10
    for i in range(existing, len(x)-1):
        x[i+1] = x[i] + 10
    return x
fill_gapes([10045, 0, 10065, 0, 10085])
initial_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   From_To       5 non-null      object
 1   FlightNumber  5 non-null      int64
 2   RecentDelays  5 non-null      object
 3   Airline       5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

/var/folders/gw/jbbhz9rj4sn92qnr6l21yjlc0000gn/T/ipykernel_732/2288847009.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i-1] = x[i] - 10

            From_To  FlightNumber  RecentDelays             Airline
0      LoNDon_paris         10045      [23, 47]              KLM(!)
1      MAdrid_miLAN         10055            []   <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways.)
3    Budapest_PaRis         10075          [13]      12. Air France
4   Brussels_londOn         10085      [67, 32]         "Swiss Air"

In [60]:
#Разбейте данные из столбца From_To на два столбца From и То. Исходный столбец удалите.
initial_df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
print(initial_df)
initial_df['From_To'].values.split('_')

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

AttributeError: 'numpy.ndarray' object has no attribute 'split'