In [2]:
import pandas as pd
import numpy as np
def solution():
    lst = list('zyxwvutsr')
    result = pd.Series(lst)
    return result
solution()

0    z
1    y
2    x
3    w
4    v
5    u
6    t
7    s
8    r
dtype: object

In [3]:
#На основе листа lst и массива arr сформируйте словарь и cоздайте pandas.Series из получившегося словаря.
def solution():
    lst = list('abced')
    arr = np.arange(5)
    result = pd.Series(arr, index=lst)
    return result
solution()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [21]:
#На вход функции solution подается серия ser. Преобразуйте ее в pandas.DataFrame таким образом, чтобы индекс стал 
#отдельной колонкой датафрейма:
def solution(ser):
    result = pd.Series.to_frame(ser)
    return result.reset_index()
solution(pd.Series(np.arange(5), index = list('abced')))

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [31]:
#Объедините два pandas.Series (s1, s2) таким образом чтобы получился pandas.DataFrame не используя конструктор!
def solution():
    s1 = pd.Series(list('abced'))
    s2 = pd.Series(np.arange(5))
    return(pd.concat([s1, s2], axis = 1))
solution()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [47]:
#Объедините два pandas.Series (переменные s1, s2) таким образом чтобы получился pandas.DataFrame:
def solution():
    s1 = pd.Series(list('abced'))
    s2 = pd.Series(np.arange(5))
    result = pd.concat([s1, s2], axis = 1)
    ans = pd.DataFrame(result)
    ans.columns = ['col1', 'col2']
    return(ans)
solution()
#также можно использовать rename(columns = {0:'col1', 1:'col2'})

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [59]:
#Присвойте индексу pandas.Series имя 'characters':
def solution():
    s = pd.Series(list('abced'))
    s.name = "characters"
    return s
solution()

0    a
1    b
2    c
3    e
4    d
Name: characters, dtype: object

In [86]:
#Получите элементы s1, которые не присутствуют в s2.
def solution():
    s1 = pd.Series([1, 2, 3, 4, 5])
    s2 = pd.Series([4, 5, 6, 7, 8])
    result = s1[~s1.isin(s2)]
    return result
solution()

0    1
1    2
2    3
dtype: int64

In [87]:
#Создайте новый pandas.Series из элементов, которые присутствуют только в одном из двух pandas.Series
#(переменные s1, s2). Если элемент присутствует в двух Series, то включать его не надо.Исходные индексы надо сохра
#нить
#def solution():
    #s1 = pd.Series([1, 2, 3, 4, 5])
    #s2 = pd.Series([4, 5, 6, 7, 8])
    #only_in_s1 = s1[~s1.isin(s2)]
    #only_in_s2 = s2[~s2.isin(s1)]
    #both = np.union1d(np.array(only_in_s1.values), np.array(only_in_s2.values))
    #result = pd.Series(both)
    #return result
#solution()
def solution():
    s1 = pd.Series([1, 2, 3, 4, 5])
    s2 = pd.Series([4, 5, 6, 7, 8])
    all = pd.Series(np.union1d(s1, s2))
    intersect = pd.Series(np.intersect1d(s1, s2))
    result = all[~all.isin(intersect)]
    return result
solution()

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [89]:
#На вход функции solution подаются данные в pandas.Series (переменная ser) рассчитайте:
#наименьшее значение
#25 перцентиль
#медиану
#75 перцентиль
#наибольшее значение
def solution(ser):
    result = np.percentile(ser, [0, 25, 50, 75, 100])
    return pd.Series(result)
solution(pd.Series([1, 2, 3, 3, 4, 3, 2, 1, 2, 5, 6, 7, 8 ,9, 12]))

0     1.0
1     2.0
2     3.0
3     6.5
4    12.0
dtype: float64

In [90]:
#Определите сколько раз встречается каждое значение в исходном pandas.Series (переменная s). Функция должна 
#вернуть серию с подсчитанным количеством каждого символа.
def solution():
    s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
    result = s.value_counts()
    return result
solution()

a    8
b    7
c    6
e    5
d    4
h    3
f    2
g    1
dtype: int64