In [2]:
import numpy as np
import pandas as pd

In [8]:
#Выведите на экран сводку основной информации о датафрейме. 
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [12]:
#Выведите на экран первые три записи датафрейма.
df[0:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [24]:
#Выведите на экран данные, которые хранятся в строках [3, 4, 8] и колонках ['animal', 'age'].
print(df.iloc[[2, 3, 7], [True, True, False, False]])

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

In [26]:
#Выберите только те строки, в которых количество посещений (visits) больше 2.
print(df[df.visits > 2])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [34]:
#Выберите строки датафрейма  в которых animal = cat, а age < 3.
print(df.query("animal == 'cat' and age < 3"))
#2ой варик
print(df[ (df.animal == 'cat') & (df.age < 3)] )

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no
  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [49]:
#В строке f замените значение в колонке age на 1.5
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [42]:
#Посчитайте итоговое количество посещений (visits)
print(df['visits'].sum())

19

In [51]:
#Посчитайте средний возраст каждого вида животного (animal)
print(df.groupby('animal')['age'].mean('age'))

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [56]:
#Отсортируйте датафрейм по столбцу age в порядке убывания, а затем по столбцу visits в порядке возрастания. 
print(df.sort_values(by = ['age', 'visits'], ascending=[False, True]))

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [7]:
#Столбец priority содержит строковые значения yes и no. Замените их на булевы True и False
df['priority'] = np.where((df.priority == 'yes'), True, False)
print(df)

  animal  age  visits  priority
a    cat  2.5       1     False
b    cat  3.0       3     False
c  snake  0.5       2     False
d    dog  NaN       3     False
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1     False
i    dog  7.0       2     False
j    dog  3.0       1     False

In [16]:
#Определите средний возраст для каждого типа животного и количества посещений.
table = pd.pivot_table(df, values='age', index=['animal'],
                    columns=['visits'], aggfunc=np.mean)
print(table)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN