In [1]:
import pandas as pd
import numpy as np

In [8]:
#Подсчитайте количество пропущенных значений в каждом столбце.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.balance' : [500, None, 0, None],
                          'user.age' : [34, None, 18, 43], 'user.group' : ['A', 'B', 'A', 'B']})
df.isna().sum()

user            0
user.balance    2
user.age        1
user.group      0
dtype: int64

In [20]:
#Замените отсутствующие значения в столбцах user.speed и user.bag_weight их соответствующими средними значениями.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.speed' : [40, None, 42, 35],
                          'user.bag_weight' : [8, None, 2, 4]})
df = df.drop(columns = ['user'])
df.fillna(df.mean())

   user.speed  user.bag_weight
0        40.0         8.000000
1        39.0         4.666667
2        42.0         2.000000
3        35.0         4.000000

In [4]:
#Используйте метод apply, чтобы заменить отсутствующие значения в user.speed средним значением столбца
#, а в user.bag_weight — медианой столбца.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den'], 'user.speed' : [40, None, 42, 35],
                          'user.bag_weight' : [8, None, 2, 4]})
#df.iloc[:, [False, True, True]]
df[['user.speed', 'user.bag_weight']] = df[['user.speed', 'user.bag_weight']].apply({'user.speed':lambda x : x.fillna(x.mean()),
                                                                                   'user.bag_weight': lambda x: x.fillna(x.median())})
print(df)

   user  user.speed  user.bag_weight
0  Ivan        40.0              8.0
1  Petr        39.0              4.0
2  Alex        42.0              2.0
3   Den        35.0              4.0

In [5]:
#Поменяйте столбцы А и Е местами в датафрейме:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df.reindex(columns = ['e', 'b', 'c', 'd', 'a'])
print(df)

    e   b   c   d   a
0   4   1   2   3   0
1   9   6   7   8   5
2  14  11  12  13  10
3  19  16  17  18  15

In [6]:
#Поменяйте порядок столбцов в датафрейме от Е до А.
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df.reindex(columns = ['e', 'd', 'c', 'b', 'a'])
print(df)

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [7]:
#Выведите на экран строки датафрейма с шагом 2.
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.speed' : [40, None, 42, 35, 60], 'user.bag_weight' : [8, None, 2, 4, 19]})
df = df.iloc[lambda x: x.index % 2 == 0]
print(df)

     user  user.speed  user.bag_weight
0    Ivan        40.0              8.0
2    Alex        42.0              2.0
4  Viktor        60.0             19.0

In [8]:
#Создайте составной индекс на основе колонок user и user.number для датафрейма:
df = pd.DataFrame(data = {'user' : ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.number' : ['222-333', None, '222-555', '222-666', '222-777'], 'user.speed' : [40, None, 42, 35, 60], 'user.bag_weight' : [8, None, 2, 4, 19]})
df.loc[df['user.number'].isna(), 'user.number'] = 'missing'
new_index = df.user + "_" +  df['user.number']
df.index = new_index.to_list()
print(df)

                  user user.number  user.speed  user.bag_weight
Ivan_222-333      Ivan     222-333        40.0              8.0
Petr_missing      Petr     missing         NaN              NaN
Alex_222-555      Alex     222-555        42.0              2.0
Den_222-666        Den     222-666        35.0              4.0
Viktor_222-777  Viktor     222-777        60.0             19.0

In [9]:
#Для столбца А найдите индекс строки в которой находится второе наибольшее значение.
df = pd.DataFrame([[16,24,29],[1,10,16],[26,21,10],[3,3,8],[6,17,17],[2,25,14],[9,13,21],[27,24,17],[19,29,1],[20,24,6]], columns=list('abc'))
df_sorted = df.sort_values(by = 'a')
indexes = df_sorted.a.index.to_list()
print(indexes[-2])

2

In [10]:
#Выведите последние две строки датафрейма, сумма ячеек которых больше 100.
df = pd.DataFrame([[23,33,16,35],
                   [24,20,13,10],
                   [32,33,30,28],
                   [13,32,36,18],
                   [25,27,31,10],
                   [35,13,36,21],
                   [32,32,25,17],
                   [34,24,23,19]])
sum_series = df.sum(axis = 1)
greater_100 = sum_series[sum_series > 100]
true_indexes = greater_100.index.to_list()[-2:]
print(df.iloc[true_indexes])

    0   1   2   3
5  35  13  36  21
6  32  32  25  17