In [1]:
import pandas as pd
import numpy as np

In [50]:
#Доработайте код таким образом, чтобы оставить только 2 наиболее встречающихся значения, а для остальных 
#установите значение 'Yet another value'.
def solution():
    s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
    top = s.value_counts().index
    under = top[2:]
    s = s.rename(lambda x: -1 if s[x] in under else x)
    s[-1] = "Yet another value"
    s.index = [i for i in range(len(s))]
    return s
solution()
#2ой варик
def solution():
    s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
    a = s.value_counts().iloc[:2]
    b = a.index.to_series()
    to_change = s.isin(b)
    s.where(to_change, other = "Yet another value", inplace = True)
    return s
solution()

0                     a
1                     b
2     Yet another value
3     Yet another value
4                     b
5     Yet another value
6     Yet another value
7                     a
8     Yet another value
9     Yet another value
10    Yet another value
11    Yet another value
12                    a
13                    b
14    Yet another value
15                    a
16    Yet another value
17                    b
18    Yet another value
19                    a
20    Yet another value
21    Yet another value
22                    a
23    Yet another value
24                    a
25    Yet another value
26    Yet another value
27                    b
28                    b
29                    b
30    Yet another value
31    Yet another value
32                    a
33    Yet another value
34    Yet another value
35    Yet another value
dtype: object

In [57]:
#Разбейте все значения из pandas.Series (переменная s1) на 3 интервала равного размера. Функция должна вернуть
#серию:
def solution():
    s1 = pd.Series(reversed(range(0, 10)))
    result = pd.qcut(s1, [0., 1 /  3, 2/3, 1.0])
    return result
solution()

0    (-0.001, 3.0]
1    (-0.001, 3.0]
2    (-0.001, 3.0]
3    (-0.001, 3.0]
4       (3.0, 6.0]
5       (3.0, 6.0]
6       (3.0, 6.0]
7       (6.0, 9.0]
8       (6.0, 9.0]
9       (6.0, 9.0]
dtype: category
Categories (3, interval[float64, right]): [(-0.001, 3.0] < (3.0, 6.0] < (6.0, 9.0]]

In [93]:
#Преобразуйте pandas.Series (переменная s1) в pandas.DataFrame размером 2 х 5:
#def solution():
    #s1 = pd.Series(range(0,10))
    #s1_0 = s1[range(0, len(s1), 5)].values
    #s1_1 = s1[range(1, len(s1), 5)].values
    #s1_2 = s1[range(2, len(s1), 5)].values
    #s1_3 = s1[range(3, len(s1), 5)].values
    #s1_4 = s1[range(4, len(s1), 5)].values
    #result = pd.DataFrame({'0':s1_0, '1':s1_1, '2':s1_2, '3':s1_3, '4':s1_4})
    #return result
#solution()
#2 ой вариант
def solution():
    s1 = pd.Series(range(0,10))
    s2 = np.reshape(s1.values, (2, 5))
    return pd.DataFrame(s2)
solution()

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [99]:
#Найдите индексы значений, которые кратны 2. Функция solution должна вернуть numpy массив
def solution():
    s1 = pd.Series([5, 10, 2, 3, 9, 12, 1])
    result = np.argwhere(s1.values % 2 == 0)
    return result
solution()

array([[1],
       [2],
       [5]])

In [100]:
#Создайте новый pandas.Series из элементов, которые находятся по индексам: 0, 7, 12, 15, 19. Функция solution 
#должна вернуть серию:
def solution():
    s1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
    indexes = [0, 7, 12, 15, 19]
    result = s1[indexes]
    return result
solution()

0     a
7     h
12    m
15    p
19    t
dtype: object

In [101]:
#Преобразуйте элементы pandas.Series (переменная s1) из строк в даты. Функция solutionдолжна вернуть серию:
def solution():
    s1 = pd.Series(['01 Jan 2022', '02-02-2022', '20220303', '2022/04/04', '2022-05-05', '2022-06-06T12:20'])
    result = pd.to_datetime(s1)
    return result
solution()

0   2022-01-01 00:00:00
1   2022-02-02 00:00:00
2   2022-03-03 00:00:00
3   2022-04-04 00:00:00
4   2022-05-05 00:00:00
5   2022-06-06 12:20:00
dtype: datetime64[ns]

In [140]:
#Объект pandas.Series (переменная s1) содержит некоторые числовые значения. Для значений хранящихся в s2 
#определите индексы под которыми они хранятся  в s1. Функция должна вернуть список (python list):
def solution():
    s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
    s2 = pd.Series([1, 3, 10, 13])
    s3 = list(s2[s2.isin(s1)])
    s1, s2 = list(s1), list(s2)
    result = [s1.index(i) for i in s3]
    return result
solution()

[4, 5, 0, 8]

In [151]:
#Вычислите среднеквадратичную ошибку.
def solution():
    s_forecast = pd.Series(range(10))
    s_real  = pd.Series(reversed(range(10)))
    diff = (s_forecast.values  - s_real.values) ** 2 
    return np.mean(diff)
solution()

33.0

In [152]:
#Измените первый символ каждого слова на верхний регистр.
def solution():
    s1 = pd.Series(['the', 'weather', 'is', 'fine']) 
    result = s1.str.capitalize()
    return result
solution()

0        The
1    Weather
2         Is
3       Fine
dtype: object

In [154]:
#Подсчитайте количество символов в каждом слове. Функция solution должна вернуть серию:
def solution():
    s1 = pd.Series(['the', 'weather', 'is', 'fine']) 
    result = s1.str.len()
    return result
solution()

0    3
1    7
2    2
3    4
dtype: int64